@charset "UTF-8";
/**********************************
SEAFOAM GREEN PALLET
***********************************/
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Covered+By+Your+Grace|Open+Sans|Shadows+Into+Light|Waiting+for+the+Sunrise");
/**********************************
ANIMATION KEYFRAME MIXIN: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
***********************************/
/**********************************
RESPONSINVE RATIO: http://codepen.io/derekjp/pen/avodwL
***********************************/
/* ------ The Mixin ------ */
/* ------ The Set Up ------ */
@media (max-width: 299px) {
  body {
    font-size: 12px;
    line-height: 19.416px; }

  h1 {
    font-size: 50.82961px;
    line-height: 58.248px;
    margin-top: 38.832px;
    margin-bottom: 19.416px; }

  h2 {
    font-size: 31.41509px;
    line-height: 38.832px;
    margin-top: 19.416px;
    margin-bottom: 19.416px; }

  h3 {
    font-size: 19.416px;
    line-height: 19.416px;
    margin-top: 19.416px;
    margin-bottom: 19.416px; }

  h4 {
    font-size: 12px;
    line-height: 19.416px;
    margin-top: 19.416px;
    margin-bottom: 19.416px; }

  p, ul, ol, pre, table, blockquote {
    margin-top: 19.416px;
    margin-bottom: 19.416px; } }
@media (min-width: 300px) {
  body {
    font-size: 14px;
    line-height: 22.652px; }

  h1 {
    font-size: 59.30121px;
    line-height: 67.956px;
    margin-top: 45.304px;
    margin-bottom: 22.652px; }

  h2 {
    font-size: 36.65094px;
    line-height: 45.304px;
    margin-top: 22.652px;
    margin-bottom: 22.652px; }

  h3 {
    font-size: 22.652px;
    line-height: 22.652px;
    margin-top: 22.652px;
    margin-bottom: 22.652px; }

  h4 {
    font-size: 14px;
    line-height: 22.652px;
    margin-top: 22.652px;
    margin-bottom: 22.652px; }

  p, ul, ol, pre, table, blockquote {
    margin-top: 22.652px;
    margin-bottom: 22.652px; } }
@media (min-width: 600px) {
  body {
    font-size: 15px;
    line-height: 24.27px; }

  h1 {
    font-size: 63.53702px;
    line-height: 72.81px;
    margin-top: 48.54px;
    margin-bottom: 24.27px; }

  h2 {
    font-size: 39.26886px;
    line-height: 48.54px;
    margin-top: 24.27px;
    margin-bottom: 24.27px; }

  h3 {
    font-size: 24.27px;
    line-height: 24.27px;
    margin-top: 24.27px;
    margin-bottom: 24.27px; }

  h4 {
    font-size: 15px;
    line-height: 24.27px;
    margin-top: 24.27px;
    margin-bottom: 24.27px; }

  p, ul, ol, pre, table, blockquote {
    margin-top: 24.27px;
    margin-bottom: 24.27px; } }
@media (min-width: 800px) {
  body {
    font-size: 16px;
    line-height: 25.888px; }

  h1 {
    font-size: 67.77282px;
    line-height: 77.664px;
    margin-top: 51.776px;
    margin-bottom: 25.888px; }

  h2 {
    font-size: 41.88678px;
    line-height: 51.776px;
    margin-top: 25.888px;
    margin-bottom: 25.888px; }

  h3 {
    font-size: 25.888px;
    line-height: 25.888px;
    margin-top: 25.888px;
    margin-bottom: 25.888px; }

  h4 {
    font-size: 16px;
    line-height: 25.888px;
    margin-top: 25.888px;
    margin-bottom: 25.888px; }

  p, ul, ol, pre, table, blockquote {
    margin-top: 25.888px;
    margin-bottom: 25.888px; } }
@media (min-width: 1000px) {
  body {
    font-size: 19px;
    line-height: 30.742px; }

  h1 {
    font-size: 80.48022px;
    line-height: 92.226px;
    margin-top: 61.484px;
    margin-bottom: 30.742px; }

  h2 {
    font-size: 49.74056px;
    line-height: 61.484px;
    margin-top: 30.742px;
    margin-bottom: 30.742px; }

  h3 {
    font-size: 30.742px;
    line-height: 30.742px;
    margin-top: 30.742px;
    margin-bottom: 30.742px; }

  h4 {
    font-size: 19px;
    line-height: 30.742px;
    margin-top: 30.742px;
    margin-bottom: 30.742px; }

  p, ul, ol, pre, table, blockquote {
    margin-top: 30.742px;
    margin-bottom: 30.742px; } }
@media (min-width: 1200px) {
  body {
    font-size: 21px;
    line-height: 33.978px; }

  h1 {
    font-size: 88.95182px;
    line-height: 101.934px;
    margin-top: 67.956px;
    margin-bottom: 33.978px; }

  h2 {
    font-size: 54.9764px;
    line-height: 67.956px;
    margin-top: 33.978px;
    margin-bottom: 33.978px; }

  h3 {
    font-size: 33.978px;
    line-height: 33.978px;
    margin-top: 33.978px;
    margin-bottom: 33.978px; }

  h4 {
    font-size: 21px;
    line-height: 33.978px;
    margin-top: 33.978px;
    margin-bottom: 33.978px; }

  p, ul, ol, pre, table, blockquote {
    margin-top: 33.978px;
    margin-bottom: 33.978px; } }
@media (min-width: 1400px) {
  body {
    font-size: 23px;
    line-height: 37.214px; }

  h1 {
    font-size: 97.42342px;
    line-height: 111.642px;
    margin-top: 74.428px;
    margin-bottom: 37.214px; }

  h2 {
    font-size: 60.21225px;
    line-height: 74.428px;
    margin-top: 37.214px;
    margin-bottom: 37.214px; }

  h3 {
    font-size: 37.214px;
    line-height: 37.214px;
    margin-top: 37.214px;
    margin-bottom: 37.214px; }

  h4 {
    font-size: 23px;
    line-height: 37.214px;
    margin-top: 37.214px;
    margin-bottom: 37.214px; }

  p, ul, ol, pre, table, blockquote {
    margin-top: 37.214px;
    margin-bottom: 37.214px; } }
@media (min-width: 1600px) {
  body {
    font-size: 25px;
    line-height: 40.45px; }

  h1 {
    font-size: 105.89503px;
    line-height: 121.35px;
    margin-top: 80.9px;
    margin-bottom: 40.45px; }

  h2 {
    font-size: 65.4481px;
    line-height: 80.9px;
    margin-top: 40.45px;
    margin-bottom: 40.45px; }

  h3 {
    font-size: 40.45px;
    line-height: 40.45px;
    margin-top: 40.45px;
    margin-bottom: 40.45px; }

  h4 {
    font-size: 25px;
    line-height: 40.45px;
    margin-top: 40.45px;
    margin-bottom: 40.45px; }

  p, ul, ol, pre, table, blockquote {
    margin-top: 40.45px;
    margin-bottom: 40.45px; } }
/**********************************
ICON FONT
***********************************/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?7dg8iq");
  src: url("fonts/icomoon.eot?7dg8iq#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?7dg8iq") format("truetype"), url("fonts/icomoon.woff?7dg8iq") format("woff"), url("fonts/icomoon.svg?7dg8iq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bug:before {
  content: ""; }

.icon-paw:before {
  content: ""; }

/**********************************
BACKGROUND
***********************************/
/* The only rule that matters */
#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; }

/**********************************
CONTENT STYLE
***********************************/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  width: 90%;
  margin: 0 auto; }

article {
  text-align: center;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  article:hover {
    color: #e6d2c6; }

h1, h2, h3, h4, h5 {
  font-family: 'Amatic SC', sans-serif; }

p, ul, ol, pre, table, blockquote, h1, h2, h3, h4, h5, h6 {
  transition: all 200ms ease-in-out; }

/**********************************
ANIMATION: http://codepen.io/kaypooma/pen/wBGyWN
***********************************/
.content {
  color: #fff;
  text-align: center;
  background: #333;
  color: white;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 7em;
  padding: 2em; }
  .content .text {
    display: inline-block;
    transform: translate(0, -20px);
    opacity: 0;
    -webkit-animation: fade-in 1s forwards;
    -moz-animation: fade-in 1s forwards;
    -ms-animation: fade-in 1s forwards;
    -o-animation: fade-in 1s forwards;
    animation: fade-in 1s forwards; }
  .content .t-2 {
    animation-delay: 1s; }
  .content .t-3 {
    animation-delay: 1.3s; }
  .content .t-4 {
    animation-delay: 1.8s; }
  .content .t-5 {
    animation-delay: 2.3s; }
  .content .t-6 {
    animation-delay: 3.4s; }
  .content .t-7 {
    animation-delay: 3.7s; }
  .content .t-8 {
    animation-delay: 3.9s; }
  .content .t-9 {
    animation-delay: 6.5s; }

.author {
  font-family: 'Open Sans', sans-serif;
  font-size: 40%;
  display: block;
  font-weight: lighter; }

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
@-moz-keyframes fade-in {
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
@-ms-keyframes fade-in {
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
@-o-keyframes fade-in {
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
@keyframes fade-in {
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

/*# sourceMappingURL=main.css.map */
