$icomoon-font-path: "fonts" !default;

$icon-bug: "\e901";
$icon-paw: "\e900";

$clrGreen: #a0d6b4;
$clrOlive: #838b75;
$clrBrown: #968f7e;

/**********************************
SEAFOAM GREEN PALLET
***********************************/
$clr0: #b3dec3;
$clr1: #a3c1ad;
$clr2: #a0d6b4;
$clr3: #5f9ea0;
$clr4: #317873;
$clr5: #49796b;

$clrTan: #e6d2c6;