$icomoon-font-path: "fonts" !default;

$icon-bug: "\e901";
$icon-paw: "\e900";

$clrBrown0: rgba(73, 49, 28, 0.6);
$clrBrown1: rgba(65, 44, 25, 0.6);
$clrBrown2: rgba(58, 39, 22, 0.6);
$clrYellow: rgba(255, 253, 247, 1);
$clrTan: #e6d2c6;

/**********************************
SEAFOAM GREEN PALLET
***********************************/
$clr0: #b3dec3;
$clr1: #a3c1ad;
$clr2: #a0d6b4;
$clr3: #5f9ea0;
$clr4: #317873;
$clr5: #49796b;
$clr5-rgba: rgba(73, 121, 107, 0.3);